extends ../layout

block content
  - var uid = report.uid
  - var traffic_today = report.traffic_count_today
  - var traffic_week = report.traffic_count_week
  - var guarantor_received_count = report.guarantor_received_count
  - var new_lease_count_today = report.new_lease_count_today
  - var new_lease_count_week = report.new_lease_count_week
  - var new_lease_count_YTD = report.new_lease_count_YTD
  - var renewal_count_today = report.renewal_count_today
  - var renewal_count_week = report.renewal_count_week
  - var renewal_count_YTD = report.renewal_count_YTD
  - var leased_floorplan_1x1 = report.leased_floorplan_1x1
  - var leased_floorplan_2x2a = report.leased_floorplan_2x2a
  - var leased_floorplan_2x2b = report.leased_floorplan_2x2b
  - var leased_floorplan_4x2 = report.leased_floorplan_4x2
  - var NOT_leased_floorplan_1x1 = report.NOT_leased_floorplan_1x1
  - var NOT_leased_floorplan_2x2a = report.NOT_leased_floorplan_2x2a
  - var NOT_leased_floorplan_2x2b = report.NOT_leased_floorplan_2x2b
  - var NOT_leased_floorplan_4x2 = report.NOT_leased_floorplan_4x2
  - var leased_furnished_count_2x2 = report.leased_furnished_count_2x2
  - var leased_furnished_count_4x2 = report.leased_furnished_count_4x2
  - var total_furnished_count_2x2 = report.total_furnished_count_2x2
  - var total_furnished_count_4x2 = report.total_furnished_count_4x2
  - var show_furnishings_breakdown = (Date.parse(report_date_str) > Date.parse('2016-04-29'))

  div.container-fluid

    h1.show-center
      i.icon-center.material-icons="insert_chart"
      =title

      h2.show-center
        div.field-container
          i.icon-center.material-icons="today"
          =report_date

    div.report-panels.last-print-item

      div.row-fluid

        .col-md-4
          .traffic-panel
            +panel-default("Traffic")
              div.row
                div.col-lg-6
                  ='Today'
                    div.traffic-today
                      =traffic_today

                div.col-lg-6
                  ='Week'
                    div.traffic-week
                      =traffic_week

        .col-md-4
          .guarantor-panel
            +panel-default("Guarantor Paperwork")
              div.row
                div.col-lg-6
                  ='Received'
                    div.guarantor-count
                      =guarantor_received_count

                div.col-lg-6
                  ='Percentage'
                    div.guarantor-percentage
                      =guarantor_percentage

        .col-md-4
          .prelease-panel
            +panel-default("Prelease Percentages")
              div.row
                div.col-lg-6
                  ='Prelease %'
                    div.prelease
                      =prelease_percentage

                div.col-lg-6
                  ='Last Year\'s Prelease %'
                    div.prv-prelease
                      =prelease_percentage_prv_year

      div.row-fluid

        .col-md-6
          .lease-count-panel
            +panel-default("Lease Totals")
              div.vertical-center
                table.table.table-striped.table-bordered.table-hover.table-condensed
                  tbody
                    tr
                      th.text-center='Lease Type'
                      th.text-center='Today'
                      th.text-center='Week'
                      th.text-center='YTD'
                    tr
                      td='New Lease'
                      td=new_lease_count_today
                      td=new_lease_count_week
                      td=new_lease_count_YTD
                    tr
                      td='Renewal'
                      td=renewal_count_today
                      td=renewal_count_week
                      td=renewal_count_YTD
                    tr
                      td='Total'
                      td=(new_lease_count_today + renewal_count_today)
                      td=(new_lease_count_week + renewal_count_week)
                      td=(new_lease_count_YTD + renewal_count_YTD)

        .col-md-6
          .daily-lease-breakdown-panel
            +panel-default("Daily Lease Breakdown")

              table.table.table-striped.table-bordered.table-hover.table-condensed
                tbody
                  tr.odd-row
                    th.text-center='New Lease Percentage'
                    th.text-center='Renewal Percentage'
                  tr
                    td=new_lease_percentage
                    td=renewal_percentage

              table.table.table-striped.table-bordered.table-hover.table-condensed
                tbody
                  tr.odd-row
                    th.text-center='Unit Type'
                    th.text-center='Leased'
                    th.text-center='Left to Lease'
                  tr
                    td='1x1'
                    td=leased_floorplan_1x1
                    td=NOT_leased_floorplan_1x1
                  tr.odd-row
                    td='2x2A'
                    td=leased_floorplan_2x2a
                    td=NOT_leased_floorplan_2x2a
                  tr
                    td='2x2B'
                    td=leased_floorplan_2x2b
                    td=NOT_leased_floorplan_2x2b
                  tr.odd-row
                    td='4x2'
                    td=leased_floorplan_4x2
                    td=NOT_leased_floorplan_4x2

      if show_furnishings_breakdown
        div.row-fluid

          .col-md-6.col-md-offset-3
            .furnishing-breakdown-panel
              +panel-default("Furnished Units Breakdown")
                div
                  table.table.table-striped.table-bordered.table-hover.table-condensed
                    tbody
                      tr
                        th.text-center='Unit Type'
                        th.text-center='Furniture Sets Leased'
                        th.text-center='Sets Left to Lease'
                        th.text-center='Furnished %'
                      tr
                        td='2x2 (A + B)'
                        td=leased_furnished_count_2x2
                        td=total_furnished_count_2x2
                        td=leased_2x2_furnishings_percentage
                      tr
                        td='4x2'
                        td=leased_furnished_count_4x2
                        td=total_furnished_count_4x2
                        td=leased_4x2_furnishings_percentage
                      tr
                        td='Total'
                        td=(leased_furnished_count_2x2 + leased_furnished_count_4x2)
                        td=(total_furnished_count_2x2 + total_furnished_count_4x2)
                        td=total_leased_furnishings_percentage
                    